.List {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
}

::selection {
    color: white;
    background-color: #61dafb;
}

a {
    text-decoration-line: none;
}

.List-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 5vw;
    margin-bottom: 4.5vw;
}

.header-a {
    color: white;
}

.nav-a {
    color: white;
    font-weight: bold;
}

.List-nav {
    margin-left: 7.5vw;
    margin-bottom: 0.5vw;
    color: cornflowerblue;
    font-weight: bold;
}

.blog-link {
    color: coral;
}

/* list tag 글머리 기호 색상 */
li::marker {
    color: white;
}

.board {
    color: white;
}